*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(#000000, #2b2b2b);
    color: white;
    font-family: 'Roboto', sans-serif;
    background-image: url(../Imagenes/FondoL2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    animation: moverFondo 30s linear infinite alternate; 
}

@keyframes moverFondo {
    from {
        background-position: center top;
    }
    to {
        background-position: center bottom;
    }
}


/* Contenedor GLobal */
#Contenedor{
    /* Definicion de Tamaño */
    width: 100%;
    max-width: 2000px;
    /* margin: 20px auto; */

    /* MODO DE DESPLIEGUE */
    display: grid;
    grid-gap: 10px;

    /* Defnicion de columnas y filas */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
}

/* Definicion de Estilo para Sub-Contenedores */

#Contenedor .widget1,
#Contenedor .widget2,
#Contenedor #Barra_Lateral,
#Contenedor #Contenido,
#Contenedor #Pie_de_Pagina{
 
    padding: 20px;
    color: white;
    border-radius: 4px;
}

/* HEADER ----------------------- HEADER , CARRITO */
#Contenedor #Header{
    /* Definicion de Diseño */
    background-color: #000000;
    /* Abarcamos espacios con Grid */
    grid-column-start: 1;
    grid-column-end: -1;
}

/* HEADER ---- EDICION DE LOGO Y MAS */
#Header{
    /* Tamaño */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;

}
.Logo{
    /* Tamaño */
    padding: 5px;
    height: 50px;
    width: 200px;
}

/*  BUSCADOR - BOTON ICONO BARRA*/
button.Boton_Busqueda{
    border: none;
    cursor: pointer;
    background: transparent;
    max-width: 100%;
}
/* Tamaño de INPUT Y DISEÑO */
input.Input_Busqueda{
   padding: 9px 10px 9px 32px;
   outline: none;
   font-size: 18px;
   border-radius: 40px;
   color: rgb(255, 255, 255);
   border: 2px solid #ffffff;

   background-color: transparent ;
   width: 900px;
   transition: all .5s;
}

/* APARTADO CARRITO - SUB HEADER */
#Contenedor #Carrito{
    grid-column-start: 1;
    grid-column-end: -1;
}

/* CONTENIDO  */
#Contenedor #Contenido{
    /* Se explande 2 */
    grid-column: span 3;
} 

/* SLIDE --- BARRA LATERAL */
#Contenedor #Barra_Lateral{
    /* Espacio abarcado */
    grid-column: 3/4;
    grid-row: span 2;
    /* Flex */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* USUARIOO --------- */
p.Usuario{
    float: right;
    padding: 15px 15px;
    font-size: 17px;
    font-weight: bold;
    margin-left: auto;
}

#Boton_Carrito{
    border: none;
    cursor: pointer;
    background: transparent;
    max-width: 100%;
    padding: 10px;
}

#Boton_Carrito img{
    float: left;
    width: 40px;
    height: 40px;
}

/* ---- OPCIONES ----- */ 
#Contenedor #Opciones{
    /* Definicion de Diseño */
    
    /* Abarcamos espacios con Grid */
    grid-column-start: 1;
    grid-column-end: -1;
}

#Opciones{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    
}

.Formato_Boton{
    border: none;
    cursor: pointer;
    background: transparent;
    max-width: 100%;
    margin: 8px;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 32px;
    border-radius: 40px;
    
}

.Formato_Boton:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0); 
}

.Formato_Botones{
    /* COPIA DE FORMATO_BOTONES PERO SIN COLOR DE TEXTO Y BACKGROUND */
    border: none;
    cursor: pointer;
    background: transparent;
    max-width: 100%;
    margin: 8px;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    
    padding: 10px 32px;
    border-radius: 40px; 
    color: white ; 
}



/* FIN HEADER----------------- */

/* Contenido */
#Preventa{
    grid-column: span 3;  
}

.Boton_forms{
    padding: 5px 5px;
    font-size: 15px;
    font-weight: bold;
    background-color: darkcyan;
    color: white;
}

.ocultos{

    visibility: hidden;
    display: none;
}

::-webkit-scrollbar {
    display: none;  /* Ocultar scroll */
}


/* RESPONSIVE */
@media screen and (max-width: 768px) {
    #Contenedor #Contenido{
        grid-column: 1 / -1;
    }
    #Contenedor #Pie_de_Pagina{
        grid-column: 1 / -1;
    }

}


#imagen{
    width: 100%;
    height: 250px;
    background-color: transparent;
    background-image: url("./../Recursos/libros.jpg");
}

.c_btn_rec{
    float: left;
    padding: 1px 25px;
    font-size: 15px;
    background-color: #0077b6;
    color: white;
    margin-right: 30px;
}

#libros{
    margin-top: 250px;
}

#pie{
    margin-top: 200px;
}

/*La parte de Info que va Abajo comienza aqui*/
.Fondo{
    max-width: 8000px;
    margin: auto;
    position: relative;
    margin-top: 220px;
    filter: drop-shadow(0px 0px 10px #ffffff);
}


.Info:hover{
    background: #3f3f3f;
    color: rgb(255, 255, 255);
}

.Info{
    width: 100%;
    max-width: 8000px;
    margin: auto;
    margin-top: 10px;
    position: center;
    padding: 30px 30px;
    background: #000000;
    border-radius: 20px;
}

.Info h3{
    font-size: 50px;
    text-align: center;
    color:rgb(255, 255, 255);
}

.Info h2{
    font-size: 40px;
    text-align: center;
    color:rgb(255, 255, 255);
}

.Info p{
    font-size: 28px;
    text-align: center;
    color:rgb(255, 255, 255);
}

/*La parte de Info que va Abajo termina aqui*/

/*#btn_inicio{
    /*visibility: hidden;
    display: none;
}*/

